body{
    padding: 10px 0 0 10px;
}
/* icon */
.iconlist{
    margin-bottom: none;
}
ul li{
    list-style: none;
    text-decoration: none;
    display: inline;
}
/* navbar link */
.nav-link a{
    color: #111;
    padding: 0 20px 0 0;
}
.nav-link a:link{
    text-decoration: none;
    
}
.user-plus{
 text-align: right;
}

/* The sidebar menu */
.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 87px;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden; 
    padding-top: 47px; 
    transition: 0.5s;
    margin-left: 13px;
  }
  
  /* The sidebar links */
  .sidebar a {
    display: grid;
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #111;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #000000;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
  }
  .sidebar .addcontain{
    position: absolute;
    top: 2px;
    right: 102px;
    font-size: 18px;
    margin-left: 50px;
  }
  .sidebar .addcontain:hover{
      color: brown  ;
  }

  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #111;
    padding: 10px 15px;
    border: none;
    list-style: none;
    text-decoration: none;
  }
  
  .openbtn:hover {
   color: #111;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  /* dropdown */
  
  /* Style the sidenav links and the dropdown button */
  .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .dropdown-btn1{
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #f1f1f1;
    color: #000000;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #f1f1f1;
    padding-left: 8px;
  }
  .dropdown-container .coll{
    padding: 6px 8px 6px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* modal button */
  .iconlist button{
    padding-right: 10px;
    border-radius: 50%;
  }
  .btn{
    padding-right: 10px;
    float: right;
  }